.bg {
    background-color: rgba(0, 0, 0, 0.25);
}

.Columna-Contacto {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.Mensaje {
    min-height: 125px;
}

@media (max-width: 939px) {
    .Info {
        width: 100%;
        align-items: center;
    }
}

@media (min-width: 940px) {
    .Columna-Contacto {
        flex-flow: row;
        width: 100%;
    }

    .Info {
        width: 50%;
    }
}