.Footer {
    background-color: rgb(65, 65, 65);
    min-height: 15vh;
    height: 4.3vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 3vh;
    text-align: center;
    text-decoration: none;
    gap: 2vh;
}