.NavBar {
    display: flex;
    min-height: 7.5vh;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgb(40, 40, 40);
    backdrop-filter: blur(3px);
}

.NavBar-Links {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.HeaderBar {
    background-color: rgb(65, 65, 65);
    height: 7.5vh;
}

.Logo {
    height: 60px;
}

.Burger-IMG {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.Col-Menu {
    text-align: left;
    gap: 15px;
    padding: 2.5vh 0;
    width: 100%;
}

.Row-Menu {
    padding: 0 15px 0 0;
    gap: 15px;
}


.Button-NavBar {
    border: none;
    background-color: transparent;
}

.User-Avatar {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 360px;
}

.User-Menu {
    font-size: small;
}

.User-Avatar {
    display: flex;
    flex-flow: column;
}

.Avatar-Links {
    padding: 4px;
}
.Avatar-Links:hover {
    background-color: rgba(255, 0, 0, 0.5);
    transition: ease-in-out 0.3s;
    border-radius: 5px;
}

@media (max-width: 1023px) {
    .Hide-Nav-Desktop {
        display: none;
    }
    .NavBar {
        align-items: flex-start;
        padding: 20px 1rem 0 1rem;
    }
    .User-Menu {
        display: flex;
        flex-flow: column;
    }
}

@media (min-width: 1024px) {
    .Hide-Nav-Burger {
        display: none;
    }
    .Link-Hover {
        padding: 10px;
    }
    .Link-Hover:hover {
        background-color: rgba(255, 0, 0, 0.5);
        transition: ease-in-out 0.3s;
        border-radius: 5px;
    }
    .Logo-Center-Desktop {
        width: 7.5vw;
    }
    .User-Avatar {
        display: flex;
        flex-flow: column;
        width: 7.5vw;
    }
}