.Form-Container {
    min-width: 300px;
    max-width: 450px;
    width: 95%;
}

.User-Info {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 300px;
    max-width: 450px;
    width: 95%;
}

.Usuario-Avatar {
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    border-radius: 3px;
    object-fit: cover;
}

.Close-Button {
    cursor: pointer;
}

.Modal-User {
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.User-Button-Container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 15px;
}

.User-Button {
    width: 100%;
}

@media (max-width: 768px) {
    .X-Profile-Divider {
        display: none;
    }

    .Y-Profile-Divider {
        border-top: 2px solid whitesmoke;
        border-radius: 3px;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .User-Info {
        display: flex;
        flex-flow: row;
        justify-items: start;
        min-width: 300px;
        max-width: 450px;
        width: 95%;
    }

    .Usuario-Avatar {
        width: 50%;
    }

    .Form-Container {
        min-width: 400px;
        width: 50%;
    }

    .X-Profile-Divider {
        border-left: 2px solid whitesmoke;
        border-radius: 3px;
        min-width: 0;
        max-width: 0;
        min-height: 200px;
        max-height: 300px;
    }

    .Y-Profile-Divider {
        display: none;
    }

}

@media (min-width: 426px) {
    .User-Button-Container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .User-Button {
        width: 50%;
    }
}